[submodule "third_party/ptrie"]
	path = third_party/ptrie
	url = git@github.com:petergjoel/ptrie.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
